@charset "UTF-8";

/*履歴の文字色を白色にする。*/
div#history{
  color:#ffffff;
}

/*日付とか消す*/
body.controller-activities div#content h2 {
    display: none;
}

body.controller-activities div#content p.subtitle {
    display: none;
}

/*タイムラインっぽくするwraper*/
div#activity{
    padding: 0;
    background: #38444d;
    /* overflow: hidden; */
    /* max-width: 700px; */
    /* overflow-y: scroll; */

    width: 100%;
    
    margin: 20px auto;
    font-size: 80%;
    border: solid 1px #eeeeee;
    color: #ffffff;
    /* height: 800px; */
}

div#content{
    background-color: #38444d;
    width: 100%;
}
#main-menu li a.selected{
    background-color: #38444d;
    color: #ffffff;
}
div#sidebar[src^="activity"]{
  background-color: #38444d;
  display: none;
}

div#main{
  background-color: #38444d;
}

/*日付をヘッダーっぽくする*/
div#activity h3 {
    background: #58aeed;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #eeeeee;
}
/*それぞれの要素を1tweetっぽく*/
/*groupedついてるやつが小さく表示されるやつ*/

div#activity dd {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 5px;
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
    margin-left: 0px;
    font-size: 15px;
}
div#activity dd.grouped {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 5px;
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
    margin-left: 100px;
    font-size: 15px;
}
dl dt {
    font-size: 12px;
}

div#activity dt.grouped {
    margin-left: 100px;
}
/*本文*/
div#activity dd span.description {
    order: 2;
    margin-left: 000px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-style: normal;
}
/*名前でてくるwrapper*/
dd span.author {
    font-weight: bold;
    position: relative;
    top: -0px;
    display: inline-block;
    width: 150px;
}

.icon-issue-note, .icon-issue {
  height: 0px;
  padding-left: 0px;
}

/*アイコン画像のwrapper*/
dl dt {
  width: 100px;
  height: 50px;
}
/*入力時間*/
.issue-note span.time, .issue span.time {
  font-size: 10px;
  position: relative;
  top: 60px;
  left: 500px;
}
/*project名*/
dl dt a {
  font-size: 14px;
  position: relative;
  top: 20px;
  left: 150px;
  white-space: nowrap;
  color: #0000ff;
}
a, a:link, a:visited{
  color:  #00bfff;
}
/*project名*/
.issue-note span.project, .issue span.project {
  font-size: 14px;
  position: relative;
  top: 20px;
  left: 150px;
  white-space: nowrap;
    
}


/*名前*/
a.user {
  /* デフォルトアイコン */
    background-image: url(https://tomokinex.github.io/redmine_css/img/000.png);
    display: inline-block;
    height: 78px;
    background-position: 0px 18px;
    background-repeat: no-repeat;
    background-size: 50px;
    color: #00bfff;

}
/* コピペ用
a.user[href="/users/0"] {
  background-image: url();
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
*/
a.user[href="/users/6"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/006.jpeg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/33"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/033.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/75"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/075.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/82"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/082.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}

a.user[href="/users/90"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/090.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/91"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/091.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/93"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/093.jpg);

  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/98"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/098.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/101"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/101.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/102"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/102.png);
    display: inline-block;
    height: 78px;
    background-position: 0px 18px;
    background-repeat: no-repeat;
    background-size: 50px;
}
a.user[href="/users/104"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/104.png);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/108"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/108.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/110"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/110.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/112"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/112.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/115"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/115.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/117"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/117.png);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/121"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/121.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/126"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/126.png);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}a.user[href="/users/135"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/135.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/136"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/136.png);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/140"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/140.png);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
a.user[href="/users/142"] {
  background-image: url(https://tomokinex.github.io/redmine_css/img/142.jpg);
  display: inline-block;
  height: 78px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  background-size: 50px;
}
